/* dimmed bgc */
.modalBackground {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal {
  background: #eee;
  top: 5%;
  position: relative;
  max-width: 80vw;
  min-width: 320px;
  padding: 0 8vw;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  display: flex;
  height: auto;
}
/* close btn / title  */
.modalHeader {
  width: 100%;
  padding: 36px 80px 20px;
  font-size: 31px;
  font-weight: bold;
}
.modalHeader h2 {
  font-size: 24px;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modalBody {
  flex: 1;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  margin: 12px 0;
}
.inputLabel {
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  padding: 0 16px;
  border-radius: 4px;
  font-size: 12px;
  transition: top 0.25s ease, padding 0.25s ease;
  user-select: none;
  opacity: 0;
  color: #252525;
}
.input {
  width: 100%;
  height: 44px;
  border: none;
  font-size: 16px;
  margin-top: 16px;
  padding: 12px 8px 8px;
  border-radius: 8px;
}
.input::placeholder {
  position: relative;
  font-size: 12px;
  padding: 0 16px;
  top: -4px;
  left: -8px;
  color: #252525;
}
.input:focus::placeholder {
  opacity: 0;
  top: -20px;
  left: -20px;
}
.inputDiv:has(.input:focus) .inputLabel {
  top: -4px;
  padding: 0;
  opacity: 1;
}

.actionBtn {
  margin-top: 16px;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  background-color: #5022c2;
  color: white;
  font-size: 12px;
  cursor: pointer;
  border: none;
}
.actionButton:disabled {
  opacity: 0.5;
}
.actionButton:hover {
  background-color: rgb(39, 44, 48);
}
.closeBtn {
  width: 34px;
  height: 34px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}
.closeBtn:hover {
  opacity: 1;
}
.closeButton:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.message {
  font-size: 11px;
  color: red;
  text-align: center;
}
.profileLabel {
  font-size: 14px;
}

.error {
  font-weight: bold;
  color: red;
}
