.container {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  /* 가장쉽게 전체화면으로 채우는법 */
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center h1 {
  font-weight: bold;
  font-size: 64px;
  margin: 48px 0;
}
.center h2 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 32px;
}
.center h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.btn {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup {
  color: rgb(29, 155, 240);
  border: 1px solid rgb(207, 217, 222);
}
.signup:hover {
  background-color: rgb(26, 140, 216);
}
.login {
  border: 1px solid rgb(26, 140, 216);
}
.login:hover {
  background-color: rgb(29, 155, 240, 0.1);
}
